<div class="container-fluid">
    <h4>Numberplate</h4>
    <div class="d-flex min-height-container">
        <div class="flex-fill border mr-2">
            <div>Sidst Set: {{numberPlate.LastSeen}}</div>
            <div>Sidste Lokation: {{numberPlate.Location}}</div>
        </div>
        <div class="flex-fill border ml-2">
            <agm-map [latitude]="lat" [longitude]="lng" class="map-size">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>
