<div class="content">
	<div class="container">
		<h5>Velkommen til Smart Recognizer</h5>
		Har du nogensinde fået stjålet din bil, ellers kender du måske nogen som har fået stjålet deres køretøj. Ofte når et køretøj bliver stjålet, vil det blive meldt savnet men ikke fundet. Det er det problem som vi vil hjælpe med at løse.

		Vi er en gruppe på 3 som har udviklet en app, en hjemmeside og et eksternt kamera modul. Du kan læse om hvert modul og hvad de bruges til nederst på hjemmesiden.

		Vores produkt scanner nummerplader når du er ude og kører, hvis den finder et stjålet køretøj så bliver ejeren og politiet kontaktet.

		Vores håb er at folk vil bruge denne app tilat hjælpe andre, selv hvis du ikke personligt har fået stjålet et køretøj kan du altid hjælpe dem som har. Det eneste du skal gøre er at installere appen og have den kørende når du selv er kørende, så klare appen resten og du har måske hjulpet en trist person med at finde deres køretøj.
	</div>
	<div class="d-flex mt-3">
		<div class="p-2 flex-fill m-2 justify-content-center position-relative">
			<div class="img-hover-zoom img-hover-zoom--blur">
				<img src="https://media.avisen.dk//image/13660247/30/img.jpg" class="img-fluid">
			</div>
			<div class="img-zoom-title-center">App</div>
			<div class="img-zoom-text-center">
				Appen er vores hoved produkt, dette er hjernen bag alt data håndtering når du er ude og kører. Her kan du samtidig holde styr på nummerplader du leder efter og søge efter nummerplader du mener er stjålet.
			</div>
		</div>
		
		<div class="p-2 flex-fill m-2 justify-content-center position-relative">
			<div class="img-hover-zoom img-hover-zoom--blur">
				<img src="https://images.idgesg.net/images/article/2019/10/abstract_programming_code_java_by_monsitj_gettyimages-1167484258_2400x1600-100813550-large.jpg" class="img-fluid">
			</div>
			<div class="img-zoom-title-center">Website</div>
			<div class="img-zoom-text-center">
				Hjemmesiden har vi designet til at være et sted hvor du kan søge efter nummerplader, finde information på stjålne nummerplader samt om nummerpladen er blevet set nogen steder.
			</div>
		</div>
		
		<div class="p-2 flex-fill m-2 justify-content-center position-relative">
			<div class="img-hover-zoom img-hover-zoom--blur">
			  <img src="https://i.pinimg.com/originals/9b/4a/12/9b4a123be3c073349258c52755c82c1c.jpg" class="img-fluid">
			</div>
			<div class="img-zoom-title-center">Ekstern Kamera</div>
			<div class="img-zoom-text-center">
				Vores ekstern kamera modul er lavet til at sparer strøm på din telefon, samt bedre nummerplade genkendelse end telefonen selv. Denne sammen med appen er det optimale setup og den tænkte måde systemet skal virke.
			</div>
		</div>
	</div>
</div>
