<div class="content">
	<div class="container">
		<h5>Title</h5>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus magna enim, in viverra lacus condimentum ac. Maecenas eget orci condimentum nunc eleifend gravida vel a libero. Maecenas quis magna sagittis, posuere magna at, hendrerit eros. Suspendisse potenti. Nam quam nisi, sagittis a diam et, vestibulum consequat urna. Fusce varius sed erat ac ultrices. Duis faucibus, urna posuere efficitur scelerisque, purus ligula aliquam lectus, sit amet sagittis metus mauris at lacus.

		Praesent quis diam non urna imperdiet pretium a et ex. Etiam mollis luctus tellus at finibus. Nunc pellentesque turpis eros, in tincidunt libero dignissim eget. Nunc id risus velit. Aliquam ac lacinia odio, sed sagittis enim. Donec vel molestie magna, dapibus vehicula libero. Ut eros ipsum, varius at sagittis at, hendrerit a enim. Donec vel luctus est.

		Nulla tempus viverra magna, non varius orci accumsan sed. Aenean molestie mattis auctor. Fusce venenatis hendrerit est, sit amet luctus enim faucibus in. Donec turpis purus, porta in efficitur id, pharetra non lorem. Nulla facilisi. Mauris diam justo, egestas semper augue sed, dapibus dignissim urna. Aenean porta, massa id viverra rhoncus, est arcu volutpat est, non aliquet sem nibh gravida lorem. Morbi vitae elit enim. Aliquam placerat eget neque a tincidunt. Nam eget ullamcorper urna. Curabitur posuere tempor dui, ut rhoncus erat. Nunc lacinia tempus orci, non convallis orci accumsan non. Etiam vitae condimentum elit. Proin id ligula interdum, semper velit rhoncus, pulvinar tortor.

		Sed id convallis dolor, a euismod nibh. Curabitur ultricies fringilla convallis. Aliquam imperdiet quam in placerat porta. Etiam risus risus, dictum sed egestas sed, imperdiet eget tellus. Quisque vulputate dapibus quam et finibus. Proin euismod dignissim arcu vitae facilisis. Nam sagittis bibendum vestibulum. Nullam non sagittis massa.

		Proin tincidunt id massa ut varius. Fusce malesuada dui in diam dapibus, vitae pellentesque lacus facilisis. Nulla in odio congue, porttitor elit nec, iaculis neque. Ut imperdiet non massa et porttitor. Integer mollis mattis auctor. Vivamus ut elementum mauris. Aliquam quis condimentum tortor, a vestibulum purus. In eget tincidunt nunc. Proin pretium nisl eget varius bibendum. Fusce tincidunt, sem mollis finibus gravida, risus nisi egestas mauris, dapibus convallis ipsum ligula id quam. Nunc tempus nibh eget eros luctus, vel hendrerit lacus tristique. Aenean ex quam, rutrum ut justo id, tincidunt aliquam tortor.
	</div>
	<div class="d-flex mt-3">
		<div class="p-2 flex-fill m-2 justify-content-center position-relative">
			<div class="img-hover-zoom img-hover-zoom--blur">
				<img src="https://media.avisen.dk//image/13660247/30/img.jpg" class="img-fluid">
			</div>
			<div class="img-zoom-title-center">App</div>
			<div class="img-zoom-text-center">
				risus nisi egestas mauris, dapibus convallis ipsum ligula id quam. Nunc tempus nibh eget eros luctus, vel hendrerit lacus tristique. Aenean ex quam, rutrum ut justo id, tincidunt aliquam tortor. 
			</div>
		</div>
		
		<div class="p-2 flex-fill m-2 justify-content-center position-relative">
			<div class="img-hover-zoom img-hover-zoom--blur">
				<img src="https://images.idgesg.net/images/article/2019/10/abstract_programming_code_java_by_monsitj_gettyimages-1167484258_2400x1600-100813550-large.jpg" class="img-fluid">
			</div>
			<div class="img-zoom-title-center">Website</div>
			<div class="img-zoom-text-center">
				risus nisi egestas mauris, dapibus convallis ipsum ligula id quam. Nunc tempus nibh eget eros luctus, vel hendrerit lacus tristique. Aenean ex quam, rutrum ut justo id, tincidunt aliquam tortor. 
			</div>
		</div>
		
		<div class="p-2 flex-fill m-2 justify-content-center position-relative">
			<div class="img-hover-zoom img-hover-zoom--blur">
			  <img src="https://i.pinimg.com/originals/9b/4a/12/9b4a123be3c073349258c52755c82c1c.jpg" class="img-fluid">
			</div>
			<div class="img-zoom-title-center">Ekstern Kamera</div>
			<div class="img-zoom-text-center">
				risus nisi egestas mauris, dapibus convallis ipsum ligula id quam. Nunc tempus nibh eget eros luctus, vel hendrerit lacus tristique. Aenean ex quam, rutrum ut justo id, tincidunt aliquam tortor. 
			</div>
		</div>
	</div>
</div>
